.App {
  text-align: center;
}

.color-text-general {
  color: #546BBD;

}

/* ####  Screen Desktop #### */
@media only screen and (min-width: 1025px) {
  .login-center {
    position: absolute;
    top: 30%;
    left: 42%;
    width: 350px;
    height: 350px;
    margin: auto;
    justify-content: center;
  }
}

/* ####  Screen Smartphone & Tablet #### */
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .login-center {
    position: absolute;
    top: 25%;
    left: 12%;
    width: 350px;
    height: 350px;
    margin: auto;
    justify-content: center;
  }
}