.App {
  text-align: center;
}

.bg-card {
  background-image: linear-gradient(to bottom right, #546BBD, #84899b);
}

.color-text-general {
  color: #546BBD;
}

.color-card-header {
  color: aliceblue;
}

.error-login {
  color: aliceblue;
  text-align: center;
}

/* ####  Screen Desktop #### */
@media only screen and (min-width: 1025px) {
  .login-center {
    position: absolute;
    top: 30%;
    left: 41%;
    width: 350px;
    height: 350px;
    margin: auto;
    justify-content: center;
  }
}

/* ####  Screen Smartphone & Tablet #### */
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .login-center {
    position: absolute;
    top: 25%;
    left: 4%;
    width: 350px;
    height: 350px;
    margin: auto;
    justify-content: center;
  }
}